.Table {
    background-color: rgba(255,255,255, 0.05);
    width: 100%;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
    border-radius: 1rem;
}

tr:nth-child(even) {background-color: rgba(255,255,255, 0.1);}

.Table-head tr:first-child th:first-child{
    border-top-left-radius: 1rem;
    background-color: rgba(255,255,255, 0.3);
    color : black;
    text-align: center;
}
.Table-head tr:first-child th:last-child{
    border-top-right-radius: 1rem;
    background-color: rgba(255,255,255, 0.3);
    color : black;
    text-align: center;
}
.Table-head tr:first-child th{
    background-color: rgba(255,255,255, 0.3);
    color : black;
    text-align: center;
}

.Table-head tr:first-child th:hover{
    background-color: whitesmoke;
}

.Head-text {
    cursor: default;
}

.Arrow {
    vertical-align: middle;
    display: inline-block;
}

.Form {
    background-color: rgba(255,255,255, 0.02);
    border-radius: 0.01rem;
}

.Form-content {
    margin-top: 1rem;
}

.Container {
    display : flex;
    justify-content: space-around;
}
.Container-col {
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-evenly;
}
.Container-line {
    margin-top: 0.5rem;
}

.Container-out {
    padding: 1rem;
    justify-content: space-between;
}

.Textfield {
    border-radius: 0.2rem;
    background-color: rgba(255,255,255, 0.02);
    border: 0.01rem solid rgba(255,255,255, 0.2);
    margin: auto;
    padding: 0.5rem;
    color: grey;
}
.Selectfield {
    color: #575757;
    appearance:none;
    padding: 0.4rem;
}

.Optionfield {
    background-color: #111111;
}

.Button-std {
    background: #0097e8;
    border-radius:3px;
    display:inline-block;
    cursor:pointer;
    border: hidden;
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    padding: 0.3rem;
}
.Button-std:hover {
    background: #006fbf;
}
.Button-std:active {
    position:relative;
    top:1px;
}
.Button-std:disabled {
    background: #969696;
    cursor:not-allowed;
}

.Button-std:disabled :active {
    position:relative;
    top:0px;
}

.Form-button {
    width: 33%;
}

